body{
    background-color: rgba(242, 179, 61, 0.792);
}
header{
    text-align: center;
    font: normal 30px Arial;
    width: 100%;
    height: 100%;
}
h1{
    color: whitesmoke;
    font-size: 1.5em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.374);
}
section{
    background-color: white;
    width: auto;
    max-width: 1100px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}
.p1{
    display: inline-block;
    font: bold 25px Arial;
    padding: auto 20px auto 10px;
    width: 100%;
    margin: auto;
    text-align: center;
}
#n1{
    display: block;
    margin: 15px auto; 
    height: 50px;
    width: 80%;
    max-width: 100%;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.195);
    padding: 3px;
}
.cfk{
    font: normal 25px Arial;
}
.radio{
    display: inline-block;
    width: 30px;
    height: 20px;
}
.div1{
    padding-top: 30px;
}

.secdiv{
    margin:auto;
    width: 80%;
    max-width: 393.5834px;
    height: auto;
    text-align: center;
}

.buttom{
    padding-top: 15px;
}

.converter{
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(242, 179, 61);
    font: bold 20px Arial;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.328);
}
#result{
    font: normal 50px Arial;
    padding-bottom: 25px;
    border-color: black;
    border: 10px;
    text-align: center;
}